<h1 class="page-header">Numeric Range Search</h1>

<form class="form-horizontal" role="form">
        <div class="form-group">
                <label for="inputField" class="col-sm-2 control-label">Field</label>
                <div class="col-sm-10">
                    <select ng-model="field" id="inputField" class="form-control">
                            <option ng-repeat="fn in fieldNames">{{fn}}</option>
                    </select>
                </div>
        </div>
        <div class="form-group">
                <label for="inputMin" class="col-sm-2 control-label">Min</label>
                <div class="col-sm-10">
                        <input ng-model="min" type="text" class="form-control" id="inputMin" placeholder="">
                </div>
        </div>
        <div class="form-group">
                <label for="inputInclusiveMin" class="col-sm-2 control-label">Inclusive Min</label>
                <div class="col-sm-10">
                        <input ng-model="inclusiveMin" type="checkbox" class="form-control" id="inputInclusiveMin">
                </div>
        </div>
        <div class="form-group">
                <label for="inputMax" class="col-sm-2 control-label">Max</label>
                <div class="col-sm-10">
                        <input ng-model="max" type="text" class="form-control" id="inputMax" placeholder="">
                </div>
        </div>
        <div class="form-group">
                <label for="inputInclusiveMax" class="col-sm-2 control-label">Inclusive Max</label>
                <div class="col-sm-10">
                        <input ng-model="inclusiveMax" type="checkbox" class="form-control" id="inputInclusiveMax">
                </div>
        </div>
        <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-click="searchNumericRange()">Search</button>
                </div>
        </div>
</form>

<div ng-show="results" ng-include src="'/static/partials/search/results.html'">